<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  >
    <title>Form</title>
  </head>
  <body>
    <main class="container">
      <h1>Sign up</h1>

      <form method="POST" action="/signup/">
        {% csrf_token %}
        <label for="email">E-mail:</label>
        <input type="email" name="email" required>
        <label for="password">Heslo:</label>
        <input type="password" name="password" required>
        <label for="password_repeat">Zopakujte heslo:</label>
        <input type="password" name="password_repeat" required>
        <button type="submit">Registrovat</button>
      </form>


    </main>
  </body>
</html>